* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f4f6;
  font-family: "Microsoft YaHei";
}
a {
  text-decoration: none!important;
}
ul {
  list-style: none;
}
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bdbdbd;
  font-size: 14px;
}
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bdbdbd;
  font-size: 14px;
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bdbdbd;
  font-size: 14px;
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bdbdbd;
  font-size: 14px;
}
input[type="submit"] {
  -webkit-appearance: button;
  border-radius: 0;
}
.find-top {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #291d21;
  font-size: 16px;
  position: relative;
}
.find-top i {
  color: white;
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  top: 4px;
}
.find-top p {
  color: white;
  width: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 0px;
}
.find-example-list .find-example:last-child {
  margin-bottom: 25px;
}
.find-example {
  padding: 10px;
  background-color: white;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 10px;
}
.find-example img {
  width: 100%;
}
.find-example-hit {
  color: #6a6a6a;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 80%;
  position: absolute;
}
.find-example-thumbs {
  float: right;
  padding-top: 1px;
}
.find-example-thumbsnum {
  color: #bdbdbd;
  margin-right: 5px;
}
.find-forThumbs {
  height: 25px;
  line-height: 25px;
  position: relative;
  margin-top: 5px;
}
.find-thumbs-up {
  background-image: url(../images/ic-zan.png);
  display: inline-block;
  height: 15px;
  width: 23px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.find-btn {
  height: 70px;
  line-height: 70px;
  border: 1px solid #e1e1e2;
  position: relative;
  background: #fafafa;
}
.find-btn a.find-btn-send,
.find-btn a.find-btn-classify {
  display: inline-block;
  width: 40%;
  height: 40px;
  line-height: 40px;
  background-color: #f15353;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 14px;
  position: absolute;
  cursor: pointer;
}
.find-btn-send {
  left: 0;
  top: 50%;
  margin-top: -20px;
  margin-left: 25px;
}
.find-btn-classify {
  right: 0;
  top: 50%;
  margin-top: -20px;
  margin-right: 25px;
}
.find-footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid #dcdcdc;
  padding: 10px 0;
}
.find-footer-icon {
  width: 33,3%;
  text-align: center;
  width: 32%;
  display: inline-block;
}
.find-footer-hit {
  font-size: 11px;
  color: #8f8f8f;
}
.find-i {
  display: block;
  height: 22px;
  margin: 0px auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2px;
}
.find-footer-wrench {
  background-image: url(../images/ic-install.png);
  display: block;
  height: 22px;
  margin: 0px auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2px;
}
.find-footer-lightbulb {
  background-image: url(../images/ic-forum2.png);
  display: block;
  height: 22px;
  margin: 0px auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2px;
}
.find-footer-user {
  background-image: url(../images/ic-user.png);
  display: block;
  height: 22px;
  margin: 0px auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2px;
}
.find-guit {
  display: none;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 70px;
}
.find-guit ul {
  padding: 0 10px;
  margin-bottom: 0;
}
.find-guit li {
  padding-left: 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eaebed;
  color: #6a6a6a;
  cursor: pointer;
}
.find-guit a {
  display: block;
}
.find-example-warp {
  width: 100%;
  height: 70px;
  overflow: hidden;
}
img {
  width: 100%;
}
.posting-base {
  background-color: white;
  width: 100%;
}
.posting-base-clasify {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #f2f3f4;
  text-indent: 15px;
  position: relative;
}
.posting-base-clasify span {
  font-size: 15px;
  color: #6a6a6a;
}
.posting-base-clasify input {
  position: absolute;
  right: 0px;
  height: 45px;
  width: 100%;
  display: none;
}
.posting-base-clasify .icon-angle-right {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 22px;
  color: #c7c7cc;
}
.posting-base-title {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #f2f3f4;
  text-indent: 15px;
  position: relative;
}
.posting-base-title span {
  font-size: 15px;
  color: #6a6a6a;
}
.posting-base-title input {
  position: absolute;
  right: 0px;
  height: 45px;
  width: 100%;
  display: none;
}
.posting-base-title .icon-angle-right {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 22px;
  color: #c7c7cc;
}
.posting-base-title input {
  outline: none;
  left: 100px;
  display: block;
  border: none;
  top: 0px;
  width: auto;
  height: 44px;
  line-height: normal;
}
.posting-base-title input::-webkit-input-placeholder {
  color: #bdbdbd;
}
.posting-base-title input:-moz-placeholder {
  color: #bdbdbd;
}
.afile {
  display: block;
  height: 22px;
  margin: 0px auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2px;
  display: inline-block;
  margin: 0px;
  overflow: hidden;
  position: relative;
}
.ifile {
  display: inline-block;
  right: 0;
  top: 0;
  width: 66px;
  height: 66px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.posting-base-img {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #f2f3f4;
  text-indent: 15px;
  position: relative;
  height: 95px;
}
.posting-base-img span {
  font-size: 15px;
  color: #6a6a6a;
}
.posting-base-img input {
  position: absolute;
  right: 0px;
  height: 45px;
  width: 100%;
  display: none;
}
.posting-base-img .icon-angle-right {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 22px;
  color: #c7c7cc;
}
.posting-base-img a {
  display: block;
  margin: 0px auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2px;
  display: inline-block;
  margin: 0px;
  overflow: hidden;
  position: relative;
  top: 15px;
  text-indent: 0;
}
.posting-base-img img {
  width: 60px!important;
}
.posting-base-img input {
  display: inline-block;
  right: 0;
  top: 0;
  width: 66px;
  height: 66px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.posting-base-img span {
  position: relative;
  /* top: -13px; */
}
.posting-detail {
  margin: 10px 0 20px 0;
  background-color: white;
  padding: 15px 17px 21px 17px;
}
.posting-detail p {
  text-indent: -8px;
  font-size: 15px;
  color: #6A6A6A;
}
.posting-detail textarea {
  height: 90px;
  width: 93%;
  margin: 20px 0 36px 0;
  background-color: #f3f4f6;
  padding: 14px 10px 10px 10px;
  border: none;
  resize: none;
  display: block;
}
.posting-detail textarea::-webkit-input-placeholder {
  color: #b6b7b8;
  font-size: 15px;
}
.posting-detail textarea:-moz-placeholder {
  color: #b6b7b8;
  font-size: 15px;
}
.posting-detail a {
  display: block;
  margin: 0px auto;
  margin-bottom: 2px;
  display: inline-block;
  margin: 0px;
  overflow: hidden;
  position: relative;
  width: 66px;
}
.posting-detail input {
  display: inline-block;
  right: 0;
  top: 0;
  width: 66px;
  height: 66px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.find-addAndDel {
  overflow: hidden;
}
.find-addAndDel a:link,
.find-addAndDel a:visited,
.find-addAndDel a:hover,
.find-addAndDel a:active {
  color: #fff;
}
.find-addDetail {
  margin-right: 25px;
  height: 35px;
  width: 190px;
  line-height: 35px;
  color: white;
  background-color: #f15353;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 13px;
  display: block;
  float: right;
}
.find-submit {
  background-color: white;
  width: 100%;
  height: 3.5em;
  bottom: 0;
  position: relative;
  margin-top: 15px;
}
.find-submit input {
  background-color: #f15353;
  color: white;
  width: 100px;
  height: 3.5em;
  position: absolute;
  right: 0;
  border: none;
}
.find-delDetail {
  height: 35px;
  width: 70px;
  line-height: 35px;
  background-color: #e1e1e3;
  color: white;
  text-align: center;
  border-radius: 3px;
  margin-left: 25px;
  float: left;
}
.posting-guit {
  display: none;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 70px;
  top: 40px;
}
.posting-guit ul {
  padding: 0 10px;
  margin-bottom: 0;
}
.posting-guit li {
  padding-left: 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eaebed;
  color: #6a6a6a;
  cursor: pointer;
}
.posting-guit a {
  display: block;
}
.detail-img {
  width: 100%;
  background-color: white;
}
.detail-img img {
  width: 100%;
}
.detail-img .detail-hit {
  height: 50px;
  line-height: 50px;
  color: #6a6a6a;
  margin: 10px 15px 0;
}
.detail-word {
  background-color: white;
  padding: 0 15px 30px 15px;
  color: #6a6a6a;
  font-size: 12px;
  line-height: 22px;
}
.detail-word-line {
  border-bottom: 1px dashed #e1e1e2;
}
.detail-word-user {
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0;
}
.detail-word img {
  margin: 5px 0;
}
.detail-critic {
  margin-top: 10px;
}
.detail-critic-time {
  display: inline-block;
  height: 40px;
  font-size: 13px;
  color: #bdbdbd;
  margin: 0;
}
.detail-critic-a {
  margin-left: 15px;
}
.detail-critic-thumbs {
  display: inline-block;
  margin-right: 5px;
}
.detail-critic-up {
  background-image: url(../images/ic-zan.png);
  display: inline-block;
  height: 15px;
  width: 23px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.detail-critic-critic {
  background-image: url(../images/ic-zan.png);
  display: inline-block;
  height: 15px;
  width: 23px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/ic-comment.png);
}
.comment-wrap {
  margin-bottom: 20px;
}
.detail-contop {
  border-bottom: 1px solid #eaebed;
}
.detail-allcritic {
  margin-top: 10px;
  padding: 0 15px;
  background-color: white;
  color: #6a6a6a;
  font-size: 14px;
  border-top: 1px solid #eaebed;
  border-bottom: 1px solid #eaebed;
}
.detail-allcritic h4 {
  font-size: 16px;
  height: 40px;
  line-height: 55px;
  font-weight: normal;
  color: #6a6a6a;
  margin-bottom: 27px;
}
.detail-allcritic-user {
  border-bottom: 1px solid #eaebed;
  position: relative;
  margin-top: 18px;
}
.detail-allcritic-pic {
  margin: 0;
  width: 100%;
}
.detail-allcritic-name {
  margin-top: 10px;
  display: block;
  text-align: center;
}
.detail-allcritic-forus {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
}
.detail-allcritic-text {
  padding-left: 70px;
  font-size: 12px;
  top: -5px;
}
.detail-allcritic-text p {
  line-height: 20px;
  padding-right: 8px;
  margin-bottom: 0;
}
.detail-allcritic-text .cont {
  min-height: 5em;
}
.comment-wrap .detail-allcritic-user:last-child {
  border-bottom: none;
}
.time {
  margin: 0;
  padding-bottom: 15px;
  text-align: right;
  color: #bdbdbd;
}
.detail-footer {
  color: #a9a9a9;
  background-color: white;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}
.great {
  width: 50%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  margin: 10px 0;
}
.comment {
  width: 50%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  margin: 10px 0;
  border-left: 1px solid #e1e1e2;
  float: right;
  margin-right: -1px;
  position: relative;
}
.comment input {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 99%;
  opacity: 0;
}
#thisform {
  background-color: #f6f6f6;
  width: 100%;
  height: 50px;
  position: relative;
}
#thisform .left-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 4em;
  height: 40px;
  margin: 6px 8px;
}
#thisform .form-control {
  height: 40px;
}
#thisform input[type="submit"],
#thisform input[type="button"] {
  border: none;
  background-color: #f6f6f6;
  color: #333333;
  position: absolute;
  width: 3em;
  text-align: center;
  right: 1em;
  height: 50px;
  font-size: 14px;
}
#accessManagement {
  background-color: white;
}
.management-baseinf {
  margin-left: 15px;
}
.management-baseinf div {
  border-bottom: 1px solid #f2f3f4;
  height: 60px;
  line-height: 60px;
  font-size: 13px;
  position: relative;
}
.management-baseinf span {
  color: #6a6a6a;
  position: absolute;
  left: 0;
}
.management-baseinf input {
  border: none;
  height: 30px;
  line-height: 30px;
  margin-left: 95px;
}
.management-furtherinf {
  margin-top: 32px;
  margin-left: 5px;
  text-align: center;
}
.management-furtherinf-one {
  width: 95px;
  height: 95px;
  border: 3px dashed #eeeeef;
  margin-left: 5px;
  text-align: center;
  display: inline-block;
  position: relative;
}
.management-furtherinf-one .management-furtherinf-exception {
  width: 37px;
}
.management-furtherinf-one img {
  width: 55px;
  margin: 0 auto;
  padding-top: 11px;
}
.management-furtherinf-one p {
  font-size: 11px;
  color: #DDD;
  text-align: center;
  padding-top: 7px;
  margin: 0;
}
.management-furtherinf-one span {
  background-color: #FF7044;
  color: #FFF;
  width: 73px;
  height: 17px;
  line-height: 17px;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 3px auto 0px;
  font-size: 11px;
}
.management-furtherinf-one input {
  opacity: 0;
  width: 73px;
  height: 17px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}
.management-furtherinf-one .management-furtherinf-warp {
  position: absolute;
  width: 95px;
  height: 95px;
  top: -3px;
  left: -3px;
  opacity: 0;
  padding: 0;
}
.management-submit {
  height: 52px;
  width: 100%;
  border-top: 1px solid #eeeff1;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.management-submit input {
  width: 125px;
  height: 52px;
  background-color: #f15353;
  color: white;
  border: none;
  float: right;
}
.audit {
  display: none;
}
.audit input {
  color: red;
  readonly: readonly;
}
.address-input {
  background-color: white;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 290px;
  height: 40px;
  border: 1px solid #bfbfbf;
}
.address-input i {
  display: block;
  width: 15px;
  height: 17px;
  margin: 10px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/ic-map.png);
  position: absolute;
  margin-top: 11px;
}
.address-input input {
  width: 240px;
  height: 37px;
  margin-left: 36px;
  letter-spacing: 2px;
  border: none;
  font-size: 16px;
  color: #333333;
}
.address-input .address-clear {
  position: absolute;
  right: 10px;
  top: -2px;
  height: 18px;
  width: 18px;
  background-image: url(../images/ic-close.png);
  display: none;
}
.address-sub {
  width: 300px;
  margin: 0 auto;
  color: white;
  background-color: #e1e1e3;
  text-align: center;
  border: none;
  position: absolute;
  top: 240px;
  left: 10px;
  height: 37px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 1px;
}
.address-guit {
  list-style: none;
  background-color: white;
  position: absolute;
  top: 40px;
  left: -1px;
  color: #acacac;
  display: none;
}
.address-guit li {
  width: 290px;
  height: 40px;
  border: 1px solid #bfbfbf;
  border-top: none;
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
  text-indent: 10px;
}
.address-guit span {
  font-size: 11px;
  margin-left: 10px;
}
.address-guit i {
  position: absolute;
  right: 10px;
  top: 0px;
  background-image: url(../images/ic-jia.png);
}
.service-top {
  background-color: white;
  height: 50px;
  border: 1px solid #eaebed;
  position: relative;
}
.service-top div {
  width: 50%;
  text-align: center;
  margin-left: 50%;
}
.service-top p {
  height: 48px;
  line-height: 48px;
  border-bottom: 3px solid white;
  width: 50px;
  margin: 0 auto;
}
.service-top .service-top-left {
  margin-left: -1px;
  position: absolute;
}
.service-top .service-top-left p {
  border-bottom: 3px solid #f15353;
}
.service-top .service-top-left span {
  position: absolute;
  left: 100%;
  border-right: 1px solid #eaebed;
  height: 40px;
  top: 5px;
}
.service-inf {
  padding: 20px 10px;
  position: relative;
  background-color: white;
  overflow: hidden;
}
.service-inf p {
  color: #bdbdbd;
  font-size: 12px;
  margin-left: 68px;
}
.service-inf span {
  font-size: 12px;
  color: #bdbdbd;
}
.service-img {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.service-inf .service-title {
  color: #6a6a6a;
  font-size: 14px;
  position: relative;
  top: -4px;
}
.service-userimg {
  width: 58px;
  height: 58px;
  position: absolute;
}
.service-unshelve {
  display: inline-block;
  float: right;
}
.service-unshelve i {
  background-image: url(../images/ic-unsale.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.service-release {
  height: 50px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  border-top: 1px solid #eeeff1;
}
.service-release a {
  background-color: #f15353;
  color: white;
  display: block;
  height: 50px;
  width: 37%;
  line-height: 50px;
  float: right;
  text-align: center;
}
.service-release a:hover {
  text-decoration: none;
}
.service-inf-unshelve {
  padding: 20px 10px;
  position: relative;
  background-color: white;
  overflow: hidden;
  display: none;
}
.service-inf-unshelve p {
  color: #bdbdbd;
  font-size: 12px;
  margin-left: 68px;
}
.service-inf-unshelve span {
  font-size: 12px;
  color: #bdbdbd;
}
.service-inf-unshelve i {
  background-image: url(../images/ic-sale.png);
}
.service-inf-unshelve .service-title {
  color: #6a6a6a;
  font-size: 14px;
  position: relative;
  top: -4px;
}
.publishing-select {
  background-color: white;
}
.publishing-select p {
  height: 50px;
  border-bottom: 1px solid #f2f3f4;
  color: #6a6a6a;
  line-height: 50px;
  text-indent: 20px;
  position: relative;
  margin: 0px;
}
.publishing-select i {
  background-image: url(../images/ic-arrow-rt.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 25px;
  margin-top: -8px;
}
.publishing-select input {
  border: none;
  position: absolute;
  right: 20px;
  text-align: right;
}
.publishing-select span {
  position: absolute;
  right: 50px;
}
.publishing-textarea {
  margin-top: 13px;
  resize: none;
  height: 105px;
  width: 100%;
  padding: 15px;
  border: none;
}
.publishing-addition {
  padding: 0 10px;
  background-color: white;
  margin-top: 13px;
  overflow: hidden;
  padding-bottom: 10px;
}
.publishing-addition p {
  height: 55px;
  line-height: 55px;
  color: #6a6a6a;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  margin: 0px;
}
.publishing-additionpic {
  margin-bottom: 15px;
  margin-right: 3px;
  display: inline-block;
  position: relative;
}
.publishing-additionpic img {
  width: 60px;
  height: 60px;
}
.publishing-additionpic input {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.publishing-car-ul {
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: white;
  display: none;
  width: 100%;
}
.publishing-car-ul li {
  height: 50px;
  text-align: right;
  line-height: 50px;
  padding-left: 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eaebed;
  color: #6a6a6a;
  display: block;
  padding-right: 50px;
}
.publishing-project-ul {
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: white;
  display: none;
  width: 100%;
  top: 101px;
}
.publishing-project-ul li {
  height: 50px;
  text-align: right;
  line-height: 50px;
  padding-left: 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eaebed;
  color: #6a6a6a;
  display: block;
  padding-right: 50px;
}
.release-success-div {
  text-align: center;
  margin-top: 50px;
}
.release-success-pic {
  width: 80px;
  height: 60px;
}
.release-success-p {
  color: #f15353;
  margin-top: 15px;
}
.release-success-home {
  width: 136px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f15353;
  margin-top: 45px;
  color: white;
}
.release-success-home:hover {
  text-decoration: none;
  color: white;
}
.serviceHomeico div {
  width: 103px;
  height: 105px;
  border-right: 1px solid #e1e1e2;
  border-bottom: 1px solid #e1e1e2;
  text-align: center;
  display: inline-block;
}
.serviceHomeico img {
  width: 38px;
  height: 38px;
  margin-top: 20px;
  margin-bottom: 7px;
}
.serviceHomeico p {
  font-size: 11px;
  color: #6b7782;
}
#categoryModal .posting-guit {
  display: block;
  top: 0;
}
